<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Todo Details</title>
    </head>
    <body>
        <main>
            <div>
                <h1>{{ todo_detail.name }}</h1>
                <div>
                    <p>
                        <a href="{% url 'todo_list_update' todo_detail.id %}">Edit</a>
                    </p>
                    <p>
                        <a href="{% url 'todo_list_delete' todo_detail.id %}">Delete</a>
                    </p>
                </div>
                <h2>Tasks</h2>
                <table>
                    <thead>
                        <th>Task</th>
                        <th>Due date</th>
                    </thead>
                    <tbody>
                        {% for detail in todo_detail.items.all %}
                        <tr>
                            <td>
                               <a href="{% url 'todo_item_update' todo_detail.id %}"> {{ detail.task }}</a>
                            </td>
                            <td>{{detail.due_date|date:"F j, Y"}}</td>
                        {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
