<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Update List</title>
    </head>
    <body>
        <main>
            <dv>
                <h1>Update List</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ post_form.as_p }}
                    <button>Update</button>
                </form>
            </dv>
        </main>
    </body>
</html>
